@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Cairo:wght@200..1000&family=Aref+Ruqaa&display=swap');
@import "tailwindcss";

@theme {
  --font-cairo: "Cairo", sans-serif;
  --font-amiri: "Amiri", serif;
  --font-ruqaa: "Aref Ruqaa", serif;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
    border-radius: 20px;
  }
}
